<!--<script> 
function replaceCurrent() {
    if (document.getElementById("introduction").id == "introduction") {
        document.getElementById("introduction").id = "current"
    } else if (document.getElementById("firstServer").id == "firstServer") {
        document.getElementById("firstServer").id = "current"
    } else if (document.getElementById("servingHTML").id == "servingHTML") {
        document.getElementById("servingHTML").id = "current"
    } else if (document.getElementById("express").id == "express") {
        document.getElementById("express").id = "current"
    }  
}
replaceCurrent()
</script>-->